---
layout: page
title:  Tags
permalink: /tags/
---

<h5>Tag cloud <i class="fa fa-cloud info-text-color"></i></h5>
  <p>
  {% for tag in site.tags %}
    <a class="post-tag" href="#{{ tag | first | slugize }}" style="font-size: {{ tag | last | size | times: 1000 | divided_by: site.tags.size | plus: 70  }}%">
      {{ tag | first }}
    </a>
{% endfor %}


<h5>Tag list <i class="fa fa-list info-text-color"></i></h5></br>
<div class="tag-list">{% for tag in site.tags %}
  <div class="tag-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h5 class="tag-group-title" id="{{ tag_name | slugize }}">{{ tag_name }}</h5>
    {% for post in site.tags[tag_name] %}
    <article class="tag-item">
      <a class="tag-item-title" href="{{ post.url }}">{{post.title}}</a>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>